<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dinastia</title>
      <link rel="stylesheet" href="../css/style.css">
</head>
<body class="Conteiner">
   
      <nav>
            <a href="../index.html">
      	   <img src="../img/logo.png" alt="Logo Dinastia">
            </a>
            <ul>
                  <li>
                        <a href="Productos.html">Productos</a>
                  </li>
                  <li>
                        <a href="Formas de pago.html">Formas de pago</a>
                  </li>
                  <li>
                        <a href="Nosotros.html">Nosotros</a>
                  </li>
                  <li>
                        <a href="Contacto.html">Contacto</a>
                  </li>
            </ul>
      </nav>
      <main id="productos">
              <h1>Productos </h1>
      	<section class="galeria">
                <figure>
                      <img src="../img/productos/artesano.webp" alt="Pan Artesano">
                      <figcaption>Pan Artesano Bimbo</figcaption>
                      <p class="price">$400</p>
                </figure>

                <figure>
                      <img src="../img/productos/integral.webp" alt="Pan Integral">
                      <figcaption>Pan Integral Bimbo</figcaption>
                      <p class="price">$320</p>
                </figure>   
            </section>
      </main>
       <footer class="controlFooter">
            <h2>Seguinos en nuestras redes</h2>
            <a href="https://facebook.com" target="_blank">
                  <img src="../img/facebook.png" alt="Seguinos en facebook">
            </a>
            <a href="https://twitter.com" target="_blank">
            <img src="../img/twitter.png" alt="Seguinos en twitter">
            </a>
      </footer>
</body>
</html>